
body{
  background-color: black;
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

.two-faced-bkgr{
  background-image:url(../img/roomimage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 450px;
}

.two-faced-popup{
  position: absolute;
  top: 75px;
  left: 200px;
  width: 1000px
  height 600px;
  background-color: lavender;
  z-index: 11;

}
.hidden-btn{
	position: absolute;
	display: block;
	z-index: 10;
	width: 200px;
	height: 210px;
  border: 2px solid black;
  left: 175px;
  top: 190px;
}

.sneaky{
  font-size: 8px;
}

.-results-popup{
  position: absolute;
  top: 75px;
  left: 200px;
  width: 1000px
  height 600px;
  background-color: pink;
  z-index: 11;

}

.posi-results-popup{
  position: absolute;
  top: 75px;
  left: 200px;
  width: 1000px
  height 600px;
  background-color: lime;
  z-index: 11;
}
