
body{
  background-color: black;
}

.hidden{
  display: none;
}

}
.popup{
  font-family: Times New Roman;
}

.container{
  background-image:url(../img/monster2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 450px;
  z-index = 1;
}

.first-popup{
  top: 75px;
  text-align: center;
  background-color: lavender;
  z-index: 11;
  font-family: Times New Roman;

}

.second-popup{
  top: 75px;
  background-color: lavender;
  z-index: 11;
  font-family: Times New Roman;
  font-size: 15px;
  height: 300px;

}

.last-popup{
  top: 75px;
  background-color: lavender;
  z-index: 11;
  padding-top: 20px;
  font-size: 15px;
  font-family: Times New Roman;
  color: black;
  height: 400px;
}

.prices{
  display: inline;
}

img{
  height: 200px;
  width: 200px;
  padding-left: 10px;
  padding-bottom: 10px;
}

input{
  z-index: 20;
  color: black;
}

label{
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

.continue{
  background-color: lavender;
  border: 2px solid white;
  color: black;
  font-size: 15px;

}

.continue:hover{
  background-color: white;
}

.continue2{
  position: absolute;
  background-color: lavender;
  border: 2px solid white;
  color: black;
  font-size: 15px;
  right:15px;
  bottom: 15px;
}

.continue2:hover{
  background-color: white;
}

.hidden-btn{
	position: absolute;
	display: block;
	z-index: 10;
	width: 200px;
	height: 210px;
  top: 190px;


}
.hidden-btn:hover{
	position: absolute;
	display: block;
	z-index: 10;
	width: 200px;
  width: 200px;
	height: 210px;
  top: 190px;
  cursor: pointer;
  border: .5px solid white;
}

.posi-results-popup{
  position: absolute;
  top: 75px;
  background-color: #c6c5cd;
  font-family: Times New Roman;
  z-index: 11;
  height: 350px;

}
.heading{
  font-size: 50px;
  text-align: center;
  color: #302276;
}

.minor{
  font-size: 20px;
  text-align: center;
  color: #302276;
}

.text{
  font-size: 12px;
  margin: 20px;
}

.-results-popup{
  position:absolute;
  top: 75px;
  background-color: #c6c5cd;
  font-family: Times New Roman;
  z-index: 11;
  height: 350px;
}

.confirm{
  background-color: lavender;
  border: 2px solid white;
  color: black;
  font-size: 15px;
}

.leave{
  background-color: lavender;
  border: 2px solid white;
  color: black;
  font-size: 15px;
}

.exit1{
  position: absolute;
  background-color:#c6c5cd;
  border: 5px solid white;
  font-size: 15px;
  bottom: 15px;
  right: 15px;
  }

.exit2{
  position: absolute;
  background-color: #c6c5cd;
  border: 5px solid white;
  font-size: 15px;
  right:15px;
  bottom: 15px;

}

.back{
  position:absolute;
  border: 3px solid white;
  font-family: times new roman;
  font-size: 20px;
  color: white;
  background-color: #28292e;
  padding: 3px 3px;
  top: 5px;
  z-index: 100;
}
