
body{
  background-color: black;
}

.hidden{
  display: none;
}

.visible{
  display:block;
}
.popup{
  font-family: Times New Roman;

}

.container{
  background-image:url(../img/monster2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 450px;
  z-index = 1;
}

.first-popup{
  top: 75px;
  text-align: center;
  background-color: lavender;
  z-index: 11;

}

.second-popup{
  top: 75px;
  background-color: lavender;
  z-index: 11;

}

.last-popup{
  top: 75px;
  background-color: lavender;
  z-index: 11;
  padding-top: 20px;
}

img{
  height: 200px;
  width: 200px;
  padding-left: 10px;
  padding-bottom: 10px;
}

input{
  z-index: 20;
  color: black;
}

label{
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

.last-popup{
  background-color: white;
}

.hidden-btn{
	position: absolute;
	display: block;
	z-index: 10;
	width: 200px;
	height: 210px;
  top: 190px;


}
.hidden-btn:hover{
	position: absolute;
	display: block;
	z-index: 10;
	width: 200px;
  width: 200px;
	height: 210px;
  top: 190px;
  cursor: pointer;
  border: .5px solid white;
}

.x{
  position:absolute;
  top:0;
  right:0;
  border: none;
  background-color: red;
  color: white;
}
.sneaky{
  font-size: 8px;
}

.solution1 {
  background-color: lavender;
  color: black;
  border: lavender;
  padding: 1px 1px
}

.solution1:hover {
  color: blue;
}

.ok{
  position: absolute;
  right:0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 2px, solid, black;
}

.upgrade{
  position: relative;
  font-weight: bold;
  left :140px;
  bottom: 10px;
  background-color: lavender;
  border: none;

}
.upgrade:hover{
  position: relative;
  font-weight: bold;
  left: 140px;
  bottom: 10px;
  background-color: lavender;
  border: none;
  color: blue;
}

.-results-popup{
  text-align: center;
  position: absolute;
  top: 75px;
  left: 200px;
  width: 425px;
  height: 225px;
  background-color: grey;
  z-index: 11;
  color: white;
  padding: 20px 10px;

}

.posi-results-popup{
  font-size: 9px;
  position: absolute;
  top: 75px;
  left: 200px;
  width: 400px;
  height: 350px;
  background-color: #c6c5cd;
  z-index: 11;
  padding:10px 10px;
}
.heading{
  font-size: 50px;
  text-align: center;
  color: #302276;
}

.minor{
  font-size: 20px;
  text-align: center;
  color: #302276;
}

.text{
  font-size: 12px;
}



.noanswer{
  position: absolute;
  background-color: #c6c5cd;
  top: 75px;
  left: 200px;
  width: 400px;
  height: 335px;
  z-index: 11;
}

.exit1{
  position: absolute;
  background-color:#c6c5cd;
  border: 5px solid white;
  font-size: 15px;
  margin-bottom: 10px;
    right:0;
    bottom: 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }

.exit2{
  position: absolute;
  background-color: #c6c5cd;
  border: 5px solid white;
  font-size: 15px;
  margin-bottom: 10px;
    right:0;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 15px;
}

h1, h2, p{
  padding-left: 10px;
  padding-right: 10px;
}

.back{
  position:absolute;
  border: 3px solid white;
  font-family: times new roman;
  font-size: 20px;
  color: white;
  background-color: #28292e;
  padding: 3px 3px;
  top: 5px;
  z-index: 100;
}
